<style>
  h1 {
    color: dodgerblue;
  }

  h1 {
    color: dodgerblue;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
  }

  body {
    background-color: powderblue;
  }
  .purple-text {
    color: rgba(0, 0, 255, .5);
  }


</style>
