@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Vollkorn:wght@600&display=swap');

h1 {
  color: dodgerblue;
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  font-family: 'Vollkorn', sans-serif;
}

p::first-letter { font-size: 175%; }
section a:hover {
  color: dodgerblue;
  font-size: 200%;
  font-family: monospace;
  border: 3px solid red;
}
section a:visited {
  text-decoration: none;
  color: green;
}

a {
  transition-property: font-size;
  transition-duration: 4s;
  transition-timing-function: ease-out;
  transition-delay: 2s;
}

section {
  transition: border 4s ease-in 1s;
}

body a:hover {
  border: 3px solid red;
  transition: border 2s 2s;
}

li:nth-child(odd) { background-color: yellow; }

body {
  background-color: powderblue;
  font-family: 'Epilogue', sans-serif;
}

.important:hover {
  background-color:lime;
  border-style: dashed;
  border-color: magenta;
  border-width: 3px;
}

.important {
font-weight: bold;
}

.title {
  text-align: center;
}

#lead-header {
  color: red;
  font-weight: bold;
}

img {
  border-style: dotted;
  border-color: yellow;
  border-width: 2px;
}

a[href="index.html"] {
  background-color: Chartreuse;
}

a[href="project-about-dogs.html"] {
  background-color: tan;
}

a[href="project-about-marvel-movies.html"] {
  background-color: ghostwhite;
}

a[href="project-about-basketball.html"] {
  background-color: sandybrown;
}

a[href="lesson-01.html"] {
  background-color: yellow;
  border-style: dashed;
  border-color: black;
}

.container {
  background-color: powderblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.box {
  height: 375px;
  width: 600px;
  border: 20px solid powderblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}
input[type=submit] {
  width: 100%;
  background-color: steelblue;
}

input[type=password]:focus {
  background-color: seagreen;
  outline: none;
}

input {
  border-radius: 15px;
}


fieldset {
  border: none;
}

fieldset input {
  display: inline;
}
