<style>
  h1 {
    color: dodgerblue;
  }

  h1 {
    color: dodgerblue;
    border-style: solid;
    border-width: 2px;
    border-color: yellow;
  }

  body {
    background-color: powderblue;
  }

  .important:hover {
    background-color:lime;
    border-style: dashed;
    border-color: magenta;
    border-width: 3px;
  }

  .important {
  font-weight: bold;
  }

  #lead-header {
    color: red;
    font-weight: bold;
  }

  img {
    border-style: dotted;
    border-color: yellow;
    border-width: 2px;
  }

  a[href="index.html"] {
    background-color: Chartreuse;
  }

  a[href="project-about-dogs.html"] {
    background-color: tan;
  }

  a[href="project-about-marvel-movies.html"] {
    background-color: ghostwhite;
  }

  a[href="project-about-basketball.html"] {
    background-color: sandybrown;
  }

  a[href="lesson-01.html"] {
    background-color: yellow;
    border-style: dashed;
    border-color: black;
  }

</style>
